
{{#each lists as |list|}}
{{log list}}
  <section data-id={{list.id}}>
    
    <p> Title
      <h4> {{list.title}} </h4>
    </p>
    <p> Description
      <h4> {{list.description}} </h4>
    </p>

<button id = "update-list">Update your list!</button>
  </section>
{{/each}}




