@import '~bootstrap/scss/bootstrap';
body {
  background-image: url('../../public/bucket-list.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.completed{
  text-decoration: line-through;
}

nav {
  display: inline;

  h3 {
    float: left;
  }

  .change-pw, .sign-out {
    float: right;
  }
}
