@import '~bootstrap/scss/bootstrap';
@import 'variables';

body {
  background-image: url('../../public/bucket-list.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.completed{
  text-decoration: line-through;
}

#bucket-list {
  background-color: $red;
  border-radius: 30px;
  max-height: 700px;
  opacity: 65%;
  overflow: scroll;

  #show-create-modal {
    background-color: transparent;
    border: none;
    color: lighten($red, 50%);
    float: right;
    font-size: 4vw;
     
  }
 
  #show-create-modal:hover {
    color:white;
 }
  

}

.empty {
  min-height: 40px;
}

